<% provide(:title, "Patient's Sign up") %>
<% provide(:button_text, 'Add Patient') %>
<h1>Add a Patient</h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= render 'shared/form_patients' %>
  </div>
</div>
