<% provide(:title, "Doctor's Sign up") %>
<% provide(:button_text, 'Add Doctor') %>
<h1>Add a Doctor</h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= render 'shared/form_doctors' %>
  </div>
</div>
