<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
        <%= link_to image_tag("JchLogo1.jpeg", alt: "logo" , width:"80", height:"80") %>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about">About Us</a>
        </li>

        <li class="nav-item">
          <a class="nav-link " href="/doctors"><%#= link_to "Doctors", doctors_path %>Doctors</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/patients"><%#= link_to "Patients", patients_path %>Patients</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/help">Services</a>
        </li>
        <!--li class="nav-item">
          <a class="nav-link" href="#">Financial Support</a>
        </li-->
        <li class="nav-item">
          <a class="nav-link" href="/contact">Contact Us</a>
        </li>




       <%#= link_to " Patient's login", signin_path %>
       <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Departments
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">General Physician</a></li>
            <li><a class="dropdown-item" href="#">Orthopeadics</a></li>
            <li><a class="dropdown-item" href="#">Gynae</a></li>
            <li><a class="dropdown-item" href="#">Pedatric</a></li>
            <li><a class="dropdown-item" href="#">Neurology</a></li>
            <li><a class="dropdown-item" href="#">Dermatology</a></li>
            <li><a class="dropdown-item" href="#">Dentistry</a></li>
          </ul>
        </li>

        <button class="btn btn-outline-primary" type="submit">Lab Report</button>
        <li class="nav-item">
          <% if user_signed_in? %>
        <%= link_to "Log out", destroy_user_session_path, method: :delete %>
        <!--a class="nav-link " href="/users/sign_out">Logout</a-->
      </li>
        <% else %>
        <li class="nav-item">
          <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link' %>||
          <!--a class="nav-link " href="/users/sign_up">Sign up</a-->
        </li>
        <li class="nav-item">
          <%= link_to "Sign in", new_user_session_path, :class => 'navbar-link' %>
          <!--a class="nav-link " href=" /users/sign_in">Sign in</a-->
            <% end %>
      </li>
      <%# if user_signed_in? %>
      <%#= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link' %>
      <%# else %>
    <%#= link_to "Sign up", new_user_registration_path, :class => 'navbar-link' %>
    <%#= link_to "Sign in", new_user_session_path, :class => 'navbar-link' %>
    <%# end %>
       </ul>
      <!--form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">

        <button class="btn btn-outline-success" type="submit">Search</button>
      </form-->
      <div>
        <form class="d-flex" >
        <input class="form-control me-2"  placeholder="I can speak" aria-label="Search" id ="input">
        <button class="btn btn-outline-success" onclick="speak()">Speak</button>
      </div>
    </form>


    </div>
  </div>
</nav>


<script>
  function speak(){
    var text = document.getElementById("input").value;
    var utterance = new SpeechSynthesisUtterance(text);
    speechSynthesis.speak(utterance);
  }
</script>
